black
flake8
ipython
isort
jupyter
jupyterlab
kedro
kedro-telemetry
nbstripout
pytest-cov
pytest-mock
pytest
pyqt5
pyqtwebengine
astroid
wheel
numpy
statsmodels
seaborn
matplotlib
pandas
scipy
scikit_learn
astro-run-dag
kedro-viz
xgboost
apache-airflow
kedro-airflow
astro
Jinja2
importlib_metadata==6.0.0
python-json-logger